www.{$DOMAIN_NAME} {
    redir https://{$DOMAIN_NAME}
}

{$DOMAIN_NAME} {
    reverse_proxy django:5000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up X-CSRFToken {~csrftoken}
    }
    log stdout
    handle_errors stdout
    encode gzip
}
